<mtapp:setting
  id="index_style"
  label="<__trans phrase="Index Column Layout">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="index_style" id="index_style"<mt:if name="index_style" eq="single"> checked="checked"</mt:if> value="single" />
    <label for="index_style"><__trans phrase="Single column"></label>&nbsp;
    <input type="radio" name="index_style" id="index_style"<mt:if name="index_style" eq="double"> checked="checked"</mt:if> value="double" />
    <label for="index_style"><__trans phrase="Double column - Menu on right"></label>&nbsp;
    <input type="radio" name="index_style" id="index_style"<mt:if name="index_style" eq="double-l"> checked="checked"</mt:if> value="double-l" />
    <label for="index_style"><__trans phrase="Double column - Menu on left"></label>
    <br />
    <input type="radio" name="index_style" id="index_style"<mt:if name="index_style" eq="multi"> checked="checked"</mt:if> value="multi" />
    <label for="index_style"><__trans phrase="Multi column - Wing menu"></label>&nbsp;
    <input type="radio" name="index_style" id="index_style"<mt:if name="index_style" eq="multi2"> checked="checked"</mt:if> value="multi2" />
    <label for="index_style"><__trans phrase="Multi column - Double menu"></label>
    <input type="radio" name="index_style" id="index_style"<mt:if name="index_style" eq="multi2-l"> checked="checked"</mt:if> value="multi2-l" />
    <label for="index_style"><__trans phrase="Multi column - Double menu on left"></label>
    <br/>
</mtapp:setting>
<mtapp:setting
  id="entry_style"
  label="<__trans phrase="Entry Column Layout">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="entry_style" id="entry_style"<mt:if name="entry_style" eq="single"> checked="checked"</mt:if> value="single" />
    <label for="entry_style"><__trans phrase="Single column"></label>&nbsp;
    <input type="radio" name="entry_style" id="entry_style"<mt:if name="entry_style" eq="double"> checked="checked"</mt:if> value="double" />
    <label for="entry_style"><__trans phrase="Double column - Menu on right"></label>&nbsp;
    <input type="radio" name="entry_style" id="entry_style"<mt:if name="entry_style" eq="double-l"> checked="checked"</mt:if> value="double-l" />
    <label for="entry_style"><__trans phrase="Double column - Menu on left"></label>
    <br />
    <input type="radio" name="entry_style" id="entry_style"<mt:if name="entry_style" eq="multi"> checked="checked"</mt:if> value="multi" />
    <label for="entry_style"><__trans phrase="Multi column - Wing menu"></label>&nbsp;
    <input type="radio" name="entry_style" id="entry_style"<mt:if name="entry_style" eq="multi2"> checked="checked"</mt:if> value="multi2" />
    <label for="entry_style"><__trans phrase="Multi column - Double menu"></label>
    <input type="radio" name="entry_style" id="entry_style"<mt:if name="entry_style" eq="multi2-l"> checked="checked"</mt:if> value="multi2-l" />
    <label for="entry_style"><__trans phrase="Multi column - Double menu on left"></label>
    <br/>
</mtapp:setting>
<mtapp:setting
  id="monthly_style"
  label="<__trans phrase="Monthly Listing Column Layout">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="monthly_style" id="monthly_style"<mt:if name="monthly_style" eq="single"> checked="checked"</mt:if> value="single" />
    <label for="monthly_style"><__trans phrase="Single column"></label>&nbsp;
    <input type="radio" name="monthly_style" id="monthly_style"<mt:if name="monthly_style" eq="double"> checked="checked"</mt:if> value="double" />
    <label for="monthly_style"><__trans phrase="Double column - Menu on right"></label>&nbsp;
    <input type="radio" name="monthly_style" id="monthly_style"<mt:if name="monthly_style" eq="double-l"> checked="checked"</mt:if> value="double-l" />
    <label for="monthly_style"><__trans phrase="Double column - Menu on left"></label>
    <br />
    <input type="radio" name="monthly_style" id="monthly_style"<mt:if name="monthly_style" eq="multi"> checked="checked"</mt:if> value="multi" />
    <label for="monthly_style"><__trans phrase="Multi column - Wing menu"></label>&nbsp;
    <input type="radio" name="monthly_style" id="monthly_style"<mt:if name="monthly_style" eq="multi2"> checked="checked"</mt:if> value="multi2" />
    <label for="monthly_style"><__trans phrase="Multi column - Double menu"></label>
    <input type="radio" name="monthly_style" id="monthly_style"<mt:if name="monthly_style" eq="multi2-l"> checked="checked"</mt:if> value="multi2-l" />
    <label for="monthly_style"><__trans phrase="Multi column - Double menu on left"></label>
    <br/>
</mtapp:setting>
<mtapp:setting
  id="category_style"
  label="<__trans phrase="Category Listing Column Layout">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="category_style" id="category_style"<mt:if name="category_style" eq="single"> checked="checked"</mt:if> value="single" />
    <label for="category_style"><__trans phrase="Single column"></label>&nbsp;
    <input type="radio" name="category_style" id="category_style"<mt:if name="category_style" eq="double"> checked="checked"</mt:if> value="double" />
    <label for="category_style"><__trans phrase="Double column - Menu on right"></label>&nbsp;
    <input type="radio" name="category_style" id="category_style"<mt:if name="category_style" eq="double-l"> checked="checked"</mt:if> value="double-l" />
    <label for="category_style"><__trans phrase="Double column - Menu on left"></label>
    <br />
    <input type="radio" name="category_style" id="category_style"<mt:if name="category_style" eq="multi"> checked="checked"</mt:if> value="multi" />
    <label for="category_style"><__trans phrase="Multi column - Wing menu"></label>&nbsp;
    <input type="radio" name="category_style" id="category_style"<mt:if name="category_style" eq="multi2"> checked="checked"</mt:if> value="multi2" />
    <label for="category_style"><__trans phrase="Multi column - Double menu"></label>
    <input type="radio" name="category_style" id="category_style"<mt:if name="category_style" eq="multi2-l"> checked="checked"</mt:if> value="multi2-l" />
    <label for="category_style"><__trans phrase="Multi column - Double menu on left"></label>
    <br/>
</mtapp:setting>
<mtapp:setting
  id="archive_style"
  label="<__trans phrase="Archive Column Layout">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="archive_style" id="archive_style"<mt:if name="archive_style" eq="single"> checked="checked"</mt:if> value="single" />
    <label for="archive_style"><__trans phrase="Single column"></label>&nbsp;
    <input type="radio" name="archive_style" id="archive_style"<mt:if name="archive_style" eq="double"> checked="checked"</mt:if> value="double" />
    <label for="archive_style"><__trans phrase="Double column - Menu on right"></label>&nbsp;
    <input type="radio" name="archive_style" id="archive_style"<mt:if name="archive_style" eq="double-l"> checked="checked"</mt:if> value="double-l" />
    <label for="archive_style"><__trans phrase="Double column - Menu on left"></label>
    <br />
    <input type="radio" name="archive_style" id="archive_style"<mt:if name="archive_style" eq="multi"> checked="checked"</mt:if> value="multi" />
    <label for="archive_style"><__trans phrase="Multi column - Wing menu"></label>&nbsp;
    <input type="radio" name="archive_style" id="archive_style"<mt:if name="archive_style" eq="multi2"> checked="checked"</mt:if> value="multi2" />
    <label for="archive_style"><__trans phrase="Multi column - Double menu"></label>
    <input type="radio" name="archive_style" id="archive_style"<mt:if name="archive_style" eq="multi2-l"> checked="checked"</mt:if> value="multi2-l" />
    <label for="archive_style"><__trans phrase="Multi column - Double menu on left"></label>
    <br/>
</mtapp:setting>
<mtapp:setting
  id="index_eyecatch"
  label="<__trans phrase="Index Eye Catch Image">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="index_eyecatch" id="index_eyecatch"<mt:if name="index_eyecatch" eq="none"> checked="checked"</mt:if> value="none" />
    <label for="index_eyecatch"><__trans phrase="None"></label><br/>
    <input type="radio" name="index_eyecatch" id="index_eyecatch"<mt:if name="index_eyecatch" eq="eye-h"> checked="checked"</mt:if> value="eye-h" />
    <label for="index_eyecatch"><__trans phrase="Header area"></label>&nbsp;
    <input type="radio" name="index_eyecatch" id="index_eyecatch"<mt:if name="index_eyecatch" eq="eye-hb"> checked="checked"</mt:if> value="eye-hb" />
    <label for="index_eyecatche"><__trans phrase="Header area (Banner type)"></label>&nbsp;
    <input type="radio" name="index_eyecatch" id="index_eyecatch"<mt:if name="index_eyecatch" eq="eye-c"> checked="checked"</mt:if> value="eye-c" />
    <label for="index_eyecatch"><__trans phrase="Contents area"></label>
    <br />
    <input type="radio" name="index_eyecatch" id="index_eyecatch"<mt:if name="index_eyecatch" eq="eye-m"> checked="checked"</mt:if> value="eye-m" />
    <label for="index_eyecatch"><__trans phrase="Main area"></label>&nbsp;
    <br/>
</mtapp:setting>
<mtapp:setting
  id="entry_eyecatch"
  label="<__trans phrase="Entry Eye Catch Image">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="entry_eyecatch" id="entry_eyecatch"<mt:if name="entry_eyecatch" eq="none"> checked="checked"</mt:if> value="none" />
    <label for="entry_eyecatch"><__trans phrase="None"></label><br/>
    <input type="radio" name="entry_eyecatch" id="entry_eyecatch"<mt:if name="entry_eyecatch" eq="eye-h"> checked="checked"</mt:if> value="eye-h" />
    <label for="entry_eyecatch"><__trans phrase="Header area"></label>&nbsp;
    <input type="radio" name="entry_eyecatch" id="entry_eyecatch"<mt:if name="entry_eyecatch" eq="eye-hb"> checked="checked"</mt:if> value="eye-hb" />
    <label for="entry_eyecatch"><__trans phrase="Header area (Banner type)"></label>&nbsp;
    <input type="radio" name="entry_eyecatch" id="entry_eyecatch"<mt:if name="entry_eyecatch" eq="eye-c"> checked="checked"</mt:if> value="eye-c" />
    <label for="entry_eyecatch"><__trans phrase="Contents area"></label>
    <br />
    <input type="radio" name="entry_eyecatch" id="entry_eyecatch"<mt:if name="entry_eyecatch" eq="eye-m"> checked="checked"</mt:if> value="eye-m" />
    <label for="entry_eyecatch"><__trans phrase="Main area"></label>&nbsp;
    <br/>
</mtapp:setting>
<mtapp:setting
  id="category_eyecatch"
  label="<__trans phrase="Category Eye Catch Image">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="category_eyecatch" id="category_eyecatch"<mt:if name="category_eyecatch" eq="none"> checked="checked"</mt:if> value="none" />
    <label for="category_eyecatch"><__trans phrase="None"></label><br/>
    <input type="radio" name="category_eyecatch" id="category_eyecatch"<mt:if name="category_eyecatch" eq="eye-h"> checked="checked"</mt:if> value="eye-h" />
    <label for="category_eyecatch"><__trans phrase="Header area"></label>&nbsp;
    <input type="radio" name="category_eyecatch" id="category_eyecatch"<mt:if name="category_eyecatch" eq="eye-hb"> checked="checked"</mt:if> value="eye-hb" />
    <label for="category_eyecatch"><__trans phrase="Header area (Banner type)"></label>&nbsp;
    <input type="radio" name="category_eyecatch" id="category_eyecatch"<mt:if name="category_eyecatch" eq="eye-c"> checked="checked"</mt:if> value="eye-c" />
    <label for="category_eyecatch"><__trans phrase="Contents area"></label>
    <br />
    <input type="radio" name="category_eyecatch" id="category_eyecatch"<mt:if name="category_eyecatch" eq="eye-m"> checked="checked"</mt:if> value="eye-m" />
    <label for="category_eyecatch"><__trans phrase="Main area"></label>&nbsp;
    <br/>
</mtapp:setting>
<mtapp:setting
  id="monthly_eyecatch"
  label="<__trans phrase="Monthly Eye Catch Image">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="monthly_eyecatch" id="monthly_eyecatch"<mt:if name="monthly_eyecatch" eq="none"> checked="checked"</mt:if> value="none" />
    <label for="monthly_eyecatch"><__trans phrase="None"></label><br/>
    <input type="radio" name="monthly_eyecatch" id="monthly_eyecatch"<mt:if name="monthly_eyecatch" eq="eye-h"> checked="checked"</mt:if> value="eye-h" />
    <label for="monthly_eyecatch"><__trans phrase="Header area"></label>&nbsp;
    <input type="radio" name="monthly_eyecatch" id="monthly_eyecatch"<mt:if name="monthly_eyecatch" eq="eye-hb"> checked="checked"</mt:if> value="eye-hb" />
    <label for="monthly_eyecatch"><__trans phrase="Header area (Banner type)"></label>&nbsp;
    <input type="radio" name="monthly_eyecatch" id="monthly_eyecatch"<mt:if name="monthly_eyecatch" eq="eye-c"> checked="checked"</mt:if> value="eye-c" />
    <label for="monthly_eyecatch"><__trans phrase="Contents area"></label>
    <br />
    <input type="radio" name="monthly_eyecatch" id="monthly_eyecatch"<mt:if name="monthly_eyecatch" eq="eye-m"> checked="checked"</mt:if> value="eye-m" />
    <label for="monthly_eyecatch"><__trans phrase="Main area"></label>&nbsp;
    <br/>
</mtapp:setting>
<mtapp:setting
  id="archive_eyecatch"
  label="<__trans phrase="Archive Eye Catch Image">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="archive_eyecatch" id="archive_eyecatch"<mt:if name="archive_eyecatch" eq="none"> checked="checked"</mt:if> value="none" />
    <label for="archive_eyecatch"><__trans phrase="None"></label><br/>
    <input type="radio" name="archive_eyecatch" id="archive_eyecatch"<mt:if name="archive_eyecatch" eq="eye-h"> checked="checked"</mt:if> value="eye-h" />
    <label for="archive_eyecatch"><__trans phrase="Header area"></label>&nbsp;
    <input type="radio" name="archive_eyecatch" id="archive_eyecatch"<mt:if name="archive_eyecatch" eq="eye-hb"> checked="checked"</mt:if> value="eye-hb" />
    <label for="archive_eyecatch"><__trans phrase="Header area (Banner type)"></label>&nbsp;
    <input type="radio" name="archive_eyecatch" id="archive_eyecatch"<mt:if name="archive_eyecatch" eq="eye-c"> checked="checked"</mt:if> value="eye-c" />
    <label for="archive_eyecatch"><__trans phrase="Contents area"></label>
    <br />
    <input type="radio" name="archive_eyecatch" id="archive_eyecatch"<mt:if name="archive_eyecatch" eq="eye-m"> checked="checked"</mt:if> value="eye-m" />
    <label for="archive_eyecatch"><__trans phrase="Main area"></label>&nbsp;
    <br/>
</mtapp:setting>
<mtapp:setting
  id="navi_on_top"
  label="<__trans phrase="Navigation on top">"
  hint="<__trans phrase="Hint">"
  >
    <input type="checkbox" name="navi_on_top" id="navi_on_top" value="1"<mt:if name="navi_on_top"> checked="checked"</mt:if> />
</mtapp:setting>
<mtapp:setting
  id="hide_navi"
  label="<__trans phrase="Hide Navigation">"
  hint="<__trans phrase="Hint">">
    <input type="checkbox" name="hide_navi" id="hide_navi" value="1"<mt:if name="hide_navi"> checked="checked"</mt:if> />
</mtapp:setting>
<mtapp:setting
  id="left_align"
  label="<__trans phrase="Left align">"
  hint="<__trans phrase="Hint">">
    <input type="checkbox" name="left_align" id="left_align" value="1"<mt:if name="left_align"> checked="checked"</mt:if> />
</mtapp:setting>
<mtapp:setting
  id="fixed_width"
  label="<__trans phrase="Fixid width">"
  hint="<__trans phrase="Hint">"
  >
    <input type="radio" name="fixed_width" id="fixed_width"<mt:if name="fixed_width" eq="none"> checked="checked"</mt:if> value="none" />
    <label for="fixed_width"><__trans phrase="None"></label><br/>
    <input type="radio" name="fixed_width" id="fixed_width"<mt:if name="fixed_width" eq="f800"> checked="checked"</mt:if> value="f800" />
    <label for="fixed_width"><__trans phrase="800px"></label>&nbsp;
    <input type="radio" name="fixed_width" id="fixed_width"<mt:if name="fixed_width" eq="f850"> checked="checked"</mt:if> value="f850" />
    <label for="fixed_width"><__trans phrase="850px"></label>&nbsp;
    <input type="radio" name="fixed_width" id="fixed_width"<mt:if name="fixed_width" eq="f900"> checked="checked"</mt:if> value="f900" />
    <label for="fixed_width"><__trans phrase="900px"></label>&nbsp;
    <input type="radio" name="fixed_width" id="fixed_width"<mt:if name="fixed_width" eq="f950"> checked="checked"</mt:if> value="f950" />
    <label for="fixed_width"><__trans phrase="950px"></label>&nbsp;
    <input type="radio" name="fixed_width" id="fixed_width"<mt:if name="fixed_width" eq="f1000"> checked="checked"</mt:if> value="f1000" />
    <label for="fixed_width"><__trans phrase="1000px"></label><br/>
</mtapp:setting>
<mtapp:setting
  id="cloud_style"
  label="<__trans phrase="TagCloud Style">"
  hint="<__trans phrase="Hint">"
  >
    <select name="cloud_style">
      <option<mt:if name="cloud_style" eq="none"> selected="selected"</mt:if> value="none"><__trans phrase="None"></option>
      <option<mt:if name="cloud_style" eq="01"> selected="selected"</mt:if> value="01"><__trans phrase="Style01"></option>
      <option<mt:if name="cloud_style" eq="02"> selected="selected"</mt:if> value="02"><__trans phrase="Style02"></option>
      <option<mt:if name="cloud_style" eq="03"> selected="selected"</mt:if> value="03"><__trans phrase="Style03"></option>
      <option<mt:if name="cloud_style" eq="04"> selected="selected"</mt:if> value="04"><__trans phrase="Style04"></option>
      <option<mt:if name="cloud_style" eq="05"> selected="selected"</mt:if> value="05"><__trans phrase="Style05"></option>
      <option<mt:if name="cloud_style" eq="06"> selected="selected"</mt:if> value="06"><__trans phrase="Style06"></option>
      <option<mt:if name="cloud_style" eq="07"> selected="selected"</mt:if> value="07"><__trans phrase="Style07"></option>
      <option<mt:if name="cloud_style" eq="08"> selected="selected"</mt:if> value="08"><__trans phrase="Style08"></option>
      <option<mt:if name="cloud_style" eq="09"> selected="selected"</mt:if> value="09"><__trans phrase="Style09"></option>
      <option<mt:if name="cloud_style" eq="10"> selected="selected"</mt:if> value="10"><__trans phrase="Style10"></option>
      <option<mt:if name="cloud_style" eq="11"> selected="selected"</mt:if> value="11"><__trans phrase="Style11"></option>
      <option<mt:if name="cloud_style" eq="12"> selected="selected"</mt:if> value="12"><__trans phrase="Style12"></option>
      <option<mt:if name="cloud_style" eq="13"> selected="selected"</mt:if> value="13"><__trans phrase="Style13"></option>
    </select>
</mtapp:setting>
<mtapp:setting
  id="use_slimbox"
  label="<__trans phrase="Use Lightbox Effect">"
  hint="<__trans phrase="Hint">"
  >
    <input type="checkbox" name="use_slimbox" id="use_slimbox" value="1"<mt:if name="use_slimbox"> checked="checked"</mt:if> />
</mtapp:setting>
<mtapp:setting
  id="lightbox_script"
  label="<__trans phrase="Lightbox Script">"
  hint="<__trans phrase="Hint">"
  >
    <select name="lightbox_script">
      <option<mt:if name="lightbox_script" eq="slimbox"> selected="selected"</mt:if> value="slimbox"><__trans phrase="slimbox"></option>
      <option<mt:if name="lightbox_script" eq="fancybox"> selected="selected"</mt:if> value="fancybox"><__trans phrase="fancybox"></option>
    </select>
</mtapp:setting>
