@charset "UTF-8";
/* for normalPager */
ul.content-nav li a {
	background-color:#eee;
	border:1px solid #aaa;
	text-decoration:none;
	padding:0.1em 0.7em;
}
ul.content-nav li.previousPager a {
	padding-left:1.5em;
}
ul.content-nav li.nextPager a {
	padding-right:1.5em;
}
ul.content-nav li.currentPager {
	border:1px solid #aaa;
	background-color:#fff;
	padding:0.1em 0.7em;
}
