<mt:setvarblock name="page_title"><__trans phrase="Edit Vicuna Layout"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">jquery/jquery.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">jquery/jquery.mt.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">jqueryui/ui.datepicker.js"></script>
</mt:setvarblock>
<mt:include name="cms/include/header.tmpl">

<p class="view">
	<a class="view" onclick="showmenu();" title="Show/Hide Menu">Show / Hide SideMenu</a>
	<span class="notation">Global Settings</span>
</p>

<style type="text/css">
#content-header {
	margin-bottom:0;
}
.main-screen #container {
max-width:1400px;
}
.main-screen #content {
width: 100%;
}
div.class div {
	width:12em;
	float: left;
	margin: 0.2em 0.5em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
}
div.class div.width,
div.class div.others,
div.class div.cloud {
	background-color: #eef;
}
div.debug-tool,
div.pages {
	left:3px;
	text-align:left;
	top:3px;
	clear: both;
}
div.debug-tool ul,
div.pages ul {
	margin: 7px 5px 10px 30px;
	padding: 0;
	font-size: 12px;
	color: #066;
}
div.pages ul {
	float: left;
}
div.debug-tool ul li {
	list-style-type:circle;
}
div.pages ul li {
	float: left;
	width:8em;
	margin-right: 1em;
}
div.debug-tool ul li a,
div.pages ul li a {
	padding: 0.1em 0.5em;
	display: block;
	color: #111;
	text-decoration: none;
	cursor: pointer;
}

div.debug-tool ul li:hover,
div.pages ul li:hover {
	color: #0FF;
}
div.debug-tool ul li a:hover,
div.pages ul li a:hover {
	color: #fff;
	background-color: #111;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
}
div.debug-tool li a.on,
div.pages li a.on {
	color: #06abeb;
	text-align: center;
	cursor: text;
	font-weight: bold;
	background-color: #00424c;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
}

div.debug-tool h2,
div.pages h2 {
	margin: 5px 0 0 5px;
	font-size: 10px;
	color: #ced924;
	text-transform: uppercase;
	padding: 0.5em 0 0.5em 2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	outline: none;
	background-color: #222;
}

div.debug-tool h3 {
	margin: 5px 0 0 13px;
	padding: 0;
	color: #8cb2c9;
	font-size: 10px;
	text-transform: uppercase;
	border: none;
	outline: none;
	background: none;
}

p.view {
	margin: 0;
	padding: 5px;
	clear: both;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

p.view a {
	color: #fff;
	background-color: #9C0;
	padding: 0.1em 0.5em;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

p.view a:hover {
	background-color: #9F0;
}
p.view span.notation {
	color: #222;
	background-color: #eef;
	padding: 0.1em 0.5em;
	float: right;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.actions-bar {
	margin: 0.5em 0 1em 0;
	float: right;
}

</style>

<script type="text/javascript">
//<![CDATA[

	$("#menu").css("display","none");

	var layoutClass ="single double double-l multi multi2 multi2-l";
	var eyeCatchClass ="eye-h eye-hb eye-m eye-c eye-u";
	var widthClass ="f800 f850 f900 f950 f1000 none";
	var otherClass ="al gt gh";
	var loadedPage ="index";

// Layout

	function setLayout(type) {
		$("div.layout a").removeClass("on");
		if (type == 'default'){
			if (loadedPage == 'individual') {
				$('#iframe').contents().find('body').removeClass(layoutClass).addClass('single');
				$("div.layout a.single").addClass("on");
				$("#entry_style").val('single');
			} else if (loadedPage == 'archive') {
				$('#iframe').contents().find('body').removeClass(layoutClass).addClass('single');
				$("div.layout a.single").addClass("on");
				$("#archive_style").val('single');
			} else {
				$('#iframe').contents().find('body').removeClass(layoutClass).addClass('double');
				$("div.layout a.double").addClass("on");
				$("#"+loadedPage+"_style").val('double');
			}
		} else {
			$('#iframe').contents().find('body').removeClass(layoutClass).addClass(type);
			$("div.layout a."+type).addClass("on");
			$("#"+loadedPage+"_style").val(type);
		}
		$("div.set a").removeClass("on");
	};

// Eye Catch

	function setEye(type) {
		$('#iframe').contents().find('body').removeClass(eyeCatchClass);
		if (type != 'e-clear') {
			$('#iframe').contents().find('body').addClass(type);
		}
		$("div.eye-catch a").removeClass("on");
		$("div.eye-catch a."+type).addClass("on");
		$("div.set a").removeClass("on");
		$("#"+loadedPage+"_eyecatch").val(type);
	};

// Set

	function setSet(type) {
		$('#iframe').contents().find('body').removeClass(layoutClass).removeClass(eyeCatchClass);
		if (type == 'set1'){
			$('#iframe').contents().find('body').addClass('multi eye-c');
			$("div.layout a").removeClass("on");
			$("div.layout a.multi").addClass("on");
			$("div.eye-catch a").removeClass("on");
			$("div.eye-catch a.eye-c").addClass("on");
			$("#"+loadedPage+"_style").val('multi');
			$("#"+loadedPage+"_eyecatch").val('eye-c');
		} else if (type == 'set2') {
			$('#iframe').contents().find('body').addClass('multi2 eye-c');
			$("div.layout a").removeClass("on");
			$("div.layout a.multi2").addClass("on");
			$("div.eye-catch a").removeClass("on");
			$("div.eye-catch a.eye-c").addClass("on");
			$("#"+loadedPage+"_style").val('multi2');
			$("#"+loadedPage+"_eyecatch").val('eye-c');
		} else if (type == 'set3') {
			$('#iframe').contents().find('body').addClass('double eye-u eye-h');
			$("div.layout a").removeClass("on");
			$("div.layout a.double").addClass("on");
			$("div.eye-catch a").removeClass("on");
			$("div.eye-catch a.eye-u").addClass("on");
			$("div.eye-catch a.eye-h").addClass("on");
			$("#"+loadedPage+"_style").val('double');
			$("#"+loadedPage+"_eyecatch").val('eye-u eye-h');
		} else if (type == 'set4') {
			$('#iframe').contents().find('body').addClass('double eye-u eye-hb');
			$("div.layout a").removeClass("on");
			$("div.layout a.double").addClass("on");
			$("div.eye-catch a").removeClass("on");
			$("div.eye-catch a.eye-u").addClass("on");
			$("div.eye-catch a.eye-hb").addClass("on");
			$("#"+loadedPage+"_style").val('double');
			$("#"+loadedPage+"_eyecatch").val('eye-u eye-hb');
		}
		$("div.set a").removeClass("on");
		$("div.set a."+type).addClass("on");
	};

// Width

	function setWidth(type) {
		$('#iframe').contents().find('body').removeClass(widthClass);
		$("div.width a").removeClass("on");
		if (type != 'w-clear') {
			$('#iframe').contents().find('body').addClass(type);
			$("div.width a."+type).addClass("on");
			$("#fixed_width").val(type);
		} else {
			$("#fixed_width").val('none');
		}
	};

// Others

	function setOthers(type) {
		$('#iframe').contents().find('body').removeClass(otherClass).addClass(type);
		$("div.others a").removeClass("on");
		if (type != 'o-clear') {
			$("div.others a."+type).addClass("on");
		}
		if (type == 'gt') {
			$("#navi_on_top").val('1');$("#hide_navi").val('0');$("#left_align").val('0');
		} else if (type == 'gh') {
			$("#navi_on_top").val('0');$("#hide_navi").val('1');$("#left_align").val('0');
		} else if (type == 'al') {
			$("#navi_on_top").val('0');$("#hide_navi").val('0');$("#left_align").val('1');
		} else if (type == 'o-clear') {
			$("#navi_on_top").val('0');$("#hide_navi").val('0');$("#left_align").val('0');
		}
	};

// Tag Cloud

	function setCloud(type) {
		$("div.cloud a").removeClass("on");
		$('#iframe').contents().find('#tagstyle').remove();
		if (type !='none') {
			if ($.browser.msie) {} else {
				$('#iframe').contents().find('head').append('<link rel="stylesheet" type="text/css" href="<mt:var name="blog_url">styles.css" />');
			}
			$('#iframe').contents().find('head').append('<link rel="stylesheet" type="text/css" id="tagstyle" href="<mt:var name="blog_url">themes/vicuna-tagcloud/tagCloud'+type+'.css" />');
			$("div.cloud a.style"+type).addClass("on");
		} else {
			$("div.cloud a.none").addClass("on");
		}
		$("#cloud_style").val(type);
	};

// Load Page

	function loadPage(page) {
		$('#iframe').attr('src' ,'<mt:var name="static_uri">support/theme_static/mtVicunaSimple/preview/'+page+'.html');
		loadedPage = page;
		$("div.pages a").removeClass("on");
		$("div.layout a").removeClass("on");
		$("div.eye-catch a").removeClass("on");
		if (page == "index") {
			var layout = '<mt:var name="index_style">';
			var eyecatch = '<mt:var name="index_eyecatch">';
		} else if (page == "individual") {
			var layout = '<mt:var name="entry_style">';
			var eyecatch = '<mt:var name="entry_eyecatch">';
		} else if (page == "category") {
			var layout = '<mt:var name="category_style">';
			var eyecatch = '<mt:var name="category_eyecatch">';
		} else if (page == "monthly") {
			var layout = '<mt:var name="monthly_style">';
			var eyecatch = '<mt:var name="monthly_eyecatch">';
		} else if (page == "archives") {
			var layout = '<mt:var name="archive_style">';
			var eyecatch = '<mt:var name="archive_eyecatch">';
		}
		$('#iframe').contents().find('body').removeClass(layoutClass).addClass(layout);
		$('#iframe').contents().find('body').removeClass(eyeCatchClass).addClass(eyecatch);
		$("div.pages a."+page).addClass("on");
		$("div.layout a."+layout).addClass("on");
		$("div.eye-catch a."+eyecatch).addClass("on");
	};

// Menu On/Off
	function showmenu(){
		$("#menu").toggle("slow");
		$(".debug-tool").toggle("slow");
		$("form .actions-bar").toggle("slow");
    };
//]]>
</script>

<div class="debug-tool">
  <div class="class">
   <h2>Layout Debug mode</h2>
   <div class="layout">
    <h3>Layout</h3>
    <ul>
     <li><a class="single" onclick="setLayout('single');">single</a></li>
     <li><a class="double" onclick="setLayout('double');">double</a></li>
     <li><a class="double-l" onclick="setLayout('double-l');">double-l</a></li>
     <li><a class="multi" onclick="setLayout('multi');">multi</a></li>
     <li><a class="multi2" onclick="setLayout('multi2');">multi2</a></li>
     <li><a class="multi2-l" onclick="setLayout('multi2-l');">multi2-l</a></li>
     <li><a class="default" onclick="setLayout('default');">default</a></li>
    </ul>
   </div>
   <div class="eye-catch">
    <h3>Eye Catch</h3>
    <ul>
     <li><a class="eye-h" onclick="setEye('eye-h');">eye-h</a></li>
     <li><a class="eye-hb" onclick="setEye('eye-hb');">eye-hb</a></li>
     <li><a class="eye-m" onclick="setEye('eye-m');">eye-m</a></li>
     <li><a class="eye-c" onclick="setEye('eye-c');">eye-c</a></li>
     <li><a class="eye-u" onclick="setEye('eye-u');">eye-u</a></li>
     <li><a class="e-clear" onclick="setEye('e-clear');">none</a></li>
    </ul>
   </div>
   <div class="set">
    <h3>Set</h3>
    <ul>
     <li><a class="set1" onclick="setSet('set1');">set1</a></li>
     <li><a class="set2" onclick="setSet('set2');">set2</a></li>
     <li><a class="set3" onclick="setSet('set3');">set3</a></li>
     <li><a class="set4" onclick="setSet('set4');">set4</a></li>
    </ul>
   </div>
   <div class="width">
    <h3>Width</h3>
    <ul>
     <li><a class="f800<mt:if name="fixed_width" eq="f800"> on</mt:if>" onclick="setWidth('f800');">f800</a></li>
     <li><a class="f850<mt:if name="fixed_width" eq="f850"> on</mt:if>" onclick="setWidth('f850');">f850</a></li>
     <li><a class="f900<mt:if name="fixed_width" eq="f900"> on</mt:if>" onclick="setWidth('f900');">f900</a></li>
     <li><a class="f950<mt:if name="fixed_width" eq="f950"> on</mt:if>" onclick="setWidth('f950');">f950</a></li>
     <li><a class="f1000<mt:if name="fixed_width" eq="f1000"> on</mt:if>" onclick="setWidth('f1000');">f1000</a></li>
     <li><a class="w-clear<mt:if name="fixed_width" eq="none"> on</mt:if>" onclick="setWidth('w-clear');">none</a></li>
    </ul>
   </div>
   <div class="others">
    <h3>Others</h3>
    <ul>
     <li><a class="gt<mt:if name="navi_on_top"> on</mt:if>" onclick="setOthers('gt');">Navi on Top</a></li>
     <li><a class="gh<mt:if name="hide_navi"> on</mt:if>" onclick="setOthers('gh');">hide Navi</a></li>
     <li><a class="al<mt:if name="align_left"> on</mt:if>" onclick="setOthers('al');">align Left</a></li>
     <li><a class="o-clear" onclick="setOthers('o-clear');">Clear</a></li>
    </ul>
   </div>
   <div class="cloud">
    <h3>TagCloud Style</h3>
    <ul>
     <li><a class="none<mt:if name="cloud_style" eq="none"> on</mt:if>" onclick="setCloud('none');">Skin Default</a></li>
     <li><a class="style01<mt:if name="cloud_style" eq="01"> on</mt:if>" onclick="setCloud('01');">Style01</a></li>
     <li><a class="style02<mt:if name="cloud_style" eq="02"> on</mt:if>" onclick="setCloud('02');">Style02</a></li>
     <li><a class="style03<mt:if name="cloud_style" eq="03"> on</mt:if>" onclick="setCloud('03');">Style03</a></li>
     <li><a class="style04<mt:if name="cloud_style" eq="04"> on</mt:if>" onclick="setCloud('04');">Style04</a></li>
     <li><a class="style05<mt:if name="cloud_style" eq="05"> on</mt:if>" onclick="setCloud('05');">Style05</a></li>
     <li><a class="style06<mt:if name="cloud_style" eq="06"> on</mt:if>" onclick="setCloud('06');">Style06</a></li>
    </ul>
   </div>
   <div class="cloud">
    <ul>
     <li><a class="style07<mt:if name="cloud_style" eq="07"> on</mt:if>" onclick="setCloud('07');">Style07</a></li>
     <li><a class="style08<mt:if name="cloud_style" eq="08"> on</mt:if>" onclick="setCloud('08');">Style08</a></li>
     <li><a class="style09<mt:if name="cloud_style" eq="09"> on</mt:if>" onclick="setCloud('09');">Style09</a></li>
     <li><a class="style10<mt:if name="cloud_style" eq="10"> on</mt:if>" onclick="setCloud('10');">Style10</a></li>
     <li><a class="style11<mt:if name="cloud_style" eq="11"> on</mt:if>" onclick="setCloud('11');">Style11</a></li>
     <li><a class="style12<mt:if name="cloud_style" eq="12"> on</mt:if>" onclick="setCloud('12');">Style12</a></li>
     <li><a class="style13<mt:if name="cloud_style" eq="13"> on</mt:if>" onclick="setCloud('13');">Style13</a></li>
    </ul>
   </div>

  </div>

</div>

<div class="pages">
  <h2>Page Pattern ( will not work yet )</h2>
  <ul>
   <li><a class="index on" accesskey="1" onclick="loadPage('index');">Index</a></li>
   <li><a class="category" accesskey="2" onclick="loadPage('category');">Category</a></li>
   <li><a class="individual" accesskey="3" onclick="loadPage('individual');">Individual</a></li>
   <li><a class="archives" accesskey="4" onclick="loadPage('archives');">Archive</a></li>
  </ul>
</div>

<form enctype="multipart/form-data" method="post" action="<mt:var name="script_url">"">
  <input type="hidden" name="__mode" value="save_plugin_config" />
  <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
  <input type="hidden" name="return_args" value="__mode=edit_themeparams&amp;blog_id=<mt:var name="blog_id">" />
  <input type="hidden" name="plugin_sig" value="mtVicunaSimple" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

    <input type="hidden" name="index_style" id="index_style" value="<mt:var name="index_style">" />
    <input type="hidden" name="entry_style" id="entry_style" value="<mt:var name="entry_style">" />
    <input type="hidden" name="category_style" id="category_style" value="<mt:var name="category_style">" />
    <input type="hidden" name="monthly_style" id="monthly_style" value="<mt:var name="monthly_style">" />
    <input type="hidden" name="archive_style" id="archive_style" value="<mt:var name="archive_style">" />
    <input type="hidden" name="index_eyecatch" id="index_eyecatch" value="<mt:var name="index_eyecatch">" />
    <input type="hidden" name="entry_eyecatch" id="entry_eyecatch" value="<mt:var name="entry_eyecatch">" />
    <input type="hidden" name="category_eyecatch" id="category_eyecatch" value="<mt:var name="category_eyecatch">" />
    <input type="hidden" name="monthly_eyecatch" id="monthly_eyecatch" value="<mt:var name="monthly_eyecatch">" />
    <input type="hidden" name="archive_eyecatch" id="index_eyecatch" value="<mt:var name="archive_eyecatch">" />
    <input type="hidden" name="fixed_width" id="fixed_width" value="<mt:var name="fixed_width">" />
    <input type="hidden" name="navi_on_top" id="navi_on_top" value="<mt:var name="navi_on_top">" />
    <input type="hidden" name="hide_navi" id="hide_navi" value="<mt:var name="hide_navi">" />
    <input type="hidden" name="left_align" id="left_align" value="<mt:var name="left_align">" />
    <input type="hidden" name="cloud_style" id="cloud_style" value="<mt:var name="cloud_style">" />
    <input type="hidden" name="use_slimbox" id="use_slimbox" value="1" />
    <div class="actions-bar">
        <div class="actions-bar-inner pkg actions">
            <button
                type="submit"
                title="<__trans phrase="Save">"
                class="primary-button action"
                ><__trans phrase="Save"></button>
        </div>
    </div>
</form>

<iframe id="iframe" src="<mt:var name="static_uri">support/theme_static/mtVicunaSimple/preview/index.html" height="1200" width="100%"></iframe>

<script type="text/javascript">
//<![CDATA[
var e_ifr = document.getElementById( "iframe" );
if ($.browser.msie) {
	e_ifr.onreadystatechange = function(){
		if ( window.event.srcElement.readyState == "complete" ) {
			$('#iframe').contents().find('head').append('<link rel="stylesheet" type="text/css" href="<mt:var name="blog_url">styles.css" />');
<mt:unless name="index_style" like="double|default">
			$('#iframe').contents().find('body').removeClass('double').addClass('<mt:var name="index_style">');
</mt:unless>
<mt:if name="index_eyecatch" ne="none">
			$('#iframe').contents().find('body').addClass('<mt:var name="index_eyecatch">');
</mt:if>
<mt:if name="fixed_width" ne="none">
			$('#iframe').contents().find('body').addClass('<mt:var name="fixed_width">');
</mt:if>
<mt:if name="hide_navi">
			$('#iframe').contents().find('body').addClass('gh');
<mt:else>
	<mt:if name="navi_on_top">
			$('#iframe').contents().find('body').addClass('gt');
	</mt:if>
</mt:else>
</mt:if>
<mt:if name="left_align">
			$('#iframe').contents().find('body').addClass('al');
</mt:if>
<mt:if name="cloud_style" ne="none">
			$('#iframe').contents().find('head').append('<link rel="stylesheet" type="text/css" id="tagstyle" href="<mt:var name="blog_url">themes/vicuna-tagcloud/tagCloud<mt:var name="cloud_style">.css" />');
</mt:if>
			$("div.layout a.<mt:var name="index_style">").addClass("on");
			$("div.eye-catch a.<mt:var name="index_eyecatch">").addClass("on");
		}
	}
} else {
	e_ifr.onload  = function() {
		$('#iframe').contents().find('link[rel=stylesheet]').attr('href' ,'<mt:var name="blog_url">styles.css');
<mt:unless name="index_style" like="double|default">
		$('#iframe').contents().find('body').removeClass('double').addClass('<mt:var name="index_style">');
</mt:unless>
		$('#iframe').contents().find('body').addClass('<mt:var name="index_eyecatch">');
		$('#iframe').contents().find('body').addClass('<mt:var name="fixed_width">');
<mt:if name="hide_navi">
		$('#iframe').contents().find('body').addClass('gh');
<mt:else>
	<mt:if name="navi_on_top">
		$('#iframe').contents().find('body').addClass('gt');
	</mt:if>
</mt:else>
</mt:if>
<mt:if name="left_align">
		$('#iframe').contents().find('body').addClass('al');
</mt:if>
<mt:if name="cloud_style" ne="none">
		$('#iframe').contents().find('head').append('<link rel="stylesheet" type="text/css" id="tagstyle" href="<mt:var name="blog_url">themes/vicuna-tagcloud/tagCloud<mt:var name="cloud_style">.css" />');
</mt:if>
		if (loadedPage == "index") {
			$("div.layout a.<mt:var name="index_style">").addClass("on");
			$("div.eye-catch a.<mt:var name="index_eyecatch">").addClass("on");
		} else if (loadedPage == "individual") {
			$("div.layout a.<mt:var name="entry_style">").addClass("on");
			$("div.eye-catch a.<mt:var name="entry_eyecatch">").addClass("on");
		} else if (loadedPage == "category") {
			$("div.layout a.<mt:var name="category_style">").addClass("on");
			$("div.eye-catch a.<mt:var name="category_eyecatch">").addClass("on");
		} else if (loadedPage == "monthly") {
			$("div.layout a.<mt:var name="monthly_style">").addClass("on");
			$("div.eye-catch a.<mt:var name="monthly_eyecatch">").addClass("on");
		} else if (loadedPage == "archives") {
			$("div.layout a.<mt:var name="archive_style">").addClass("on");
			$("div.eye-catch a.<mt:var name="archive_eyecatch">").addClass("on");
		}
	}
}
//]]>
</script>

<mt:include name="cms/include/footer.tmpl">
