/* hba ---------------------------------*/

div#hatena_bookmark_anywhere { margin:0.5em 0; }
div#hatena_bookmark_anywhere h2 { background-color:#999; color:#fff; border-bottom:1px dotted #ccc; border-left:5px solid #666; font-size:116%; padding:0.3em 15px; margin:0; }
div#hatena_bookmark_anywhere div { padding: 0.8em 0 0.5em; }
#hatena_bookmark_anywhere ul { border:1px dotted #ddd; list-style-position: outside; margin:0.5em 0; padding: 5px 10px 5px 20px; }
#hatena_bookmark_anywhere ul li { list-style-type: circle; padding: 0.3em 0; font-size: 90%; font-family: "Arial", sans-serif; }
#hatena_bookmark_anywhere ul li span+img { margin-left: 5px; vertical-align:middle; }
#hatena_bookmark_anywhere .hatena_bookmark_anywhere_user { color: #00e; text-decoration: underline; margin: 0 2px; }
#hatena_bookmark_anywhere .hatena_bookmark_anywhere_tags { font-size: 90%; color: #66c; margin: 0 4px 0 2px; }
#hatena_bookmark_anywhere .hatena_bookmark_anywhere_tags a { text-decoration: none; color: #66c; }
#hatena_bookmark_anywhere .hatena_bookmark_anywhere_go { font-size: 90%; text-decoration: none; }
#hatena_bookmark_anywhere .hatena_bookmark_anywhere_zero { margin:0.5em 0; padding: 8px; }
